//***************************************************************************
//
// Author     : Jean-Charles Lefebvre
// Created On : 2013-01-09 16:09:06
//
// $Id$
//
//***************************************************************************

#include <windows.h>
//#include <commctrl.h>
//#include <richedit.h>
#include "resource.h"


//---------------------------------------------------------------------------
// Icon
//---------------------------------------------------------------------------
IDI_APP     ICON  "res/IcoApp.ico"
IDI_NOBATT  ICON  "res/IcoNoBatt.ico"
IDI_RED     ICON  "res/IcoRed.ico"


//---------------------------------------------------------------------------
// Menu
//---------------------------------------------------------------------------
IDM_POPUP_MAIN MENU
BEGIN
  POPUP "MainPopup"
  BEGIN
    MENUITEM SEPARATOR
    MENUITEM "&Settings",    IDM_CONFIGDIALOG
    MENUITEM "Test &Alarm",  IDM_ALARM
    MENUITEM SEPARATOR
    MENUITEM "&Quit",        IDM_QUIT
  END
END


//---------------------------------------------------------------------------
// Font
//---------------------------------------------------------------------------
IDF_SMALL   FONTS  "res/Font04B24.ttf"
IDF_NORMAL  FONTS  "res/Font04B03.ttf"


//---------------------------------------------------------------------------
// Wave
//---------------------------------------------------------------------------
IDW_ALARM  WAVE  "res/WavAlarm.wav"


//---------------------------------------------------------------------------
// Dialog
//---------------------------------------------------------------------------
IDD_CONFIG DIALOGEX 0, 0, 299, 199
STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION ""
FONT 8, "MS Shell Dlg", 400, 0, 1
BEGIN
    GROUPBOX        "Icon Blinking", IDC_STATIC, 90, 0, 205, 42
    AUTOCHECKBOX    "Enabled", IDC_CHK_BLINK, 102, 11, 60, 12
    RTEXT           "0%", IDC_LBL_BLINK, 258, 12, 24, 8, SS_RIGHT
    CONTROL         "", IDC_SLIDER_BLINK, TRACKBAR_CLASS, WS_TABSTOP | TBS_NOTICKS, 96, 24, 192, 12
    GROUPBOX        "Alert", IDC_STATIC, 90, 45, 205, 102
    LTEXT           "Threshold", IDC_STATIC, 102, 57, 60, 8, SS_LEFT
    RTEXT           "0%", IDC_LBL_ALERT, 258, 57, 24, 8, SS_RIGHT
    CONTROL         "", IDC_SLIDER_ALERT, TRACKBAR_CLASS, WS_TABSTOP | TBS_NOTICKS, 96, 69, 192, 12
    AUTOCHECKBOX    "Display a message box", IDC_CHK_ALERTMSGBOX, 102, 87, 96, 12
    AUTOCHECKBOX    "Play a sound", IDC_CHK_ALERTSOUND, 102, 99, 96, 12
    PUSHBUTTON      "Browse", IDC_BTN_ALERTBROWSE, 246, 99, 36, 12
    EDITTEXT        IDC_TXT_ALERT, 102, 113, 180, 12, ES_AUTOHSCROLL
    CTEXT           "You can leave this field empty to play the default embedded sound file.", IDC_LBL_ALERTSOUNDTIP, 102, 126, 180, 18, SS_CENTER
    DEFPUSHBUTTON   "Save", IDOK, 191, 180, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 245, 180, 50, 14
    GROUPBOX        "Miscellaneous", IDC_STATIC, 90, 150, 205, 25
    AUTOCHECKBOX    "Launch on Windows' startup", IDC_CHK_STARTUP, 105, 160, 180, 10
END
