//***************************************************************************
//
// Author     : Jean-Charles Lefebvre
// Created On : 2013-01-09 16:09:06
//
// $Id$
//
//***************************************************************************

#include "resource.h"


//---------------------------------------------------------------------------
// Icons
//---------------------------------------------------------------------------
IDI_APP     ICON  "res/IcoApp.ico"
IDI_NOBATT  ICON  "res/IcoNoBatt.ico"


//---------------------------------------------------------------------------
// Menus
//---------------------------------------------------------------------------
IDM_POPUP_MAIN MENU
BEGIN
  POPUP "MainPopup"
  BEGIN
    MENUITEM SEPARATOR
    MENUITEM "&Quit",   IDM_QUIT
  END
END


//---------------------------------------------------------------------------
// Fonts
//---------------------------------------------------------------------------
IDF_SMALL   FONTS  "res/Font04B24.ttf"
IDF_NORMAL  FONTS  "res/Font04B03.ttf"
