//***************************************************************************
//
// Author     : Jean-Charles Lefebvre
// Created On : 2013-01-09 16:09:06
//
// $Id$
//
//***************************************************************************

#include "resource.h"


//---------------------------------------------------------------------------
// Icon
//---------------------------------------------------------------------------
IDI_APP     ICON  "res/IcoApp.ico"
IDI_NOBATT  ICON  "res/IcoNoBatt.ico"
IDI_RED     ICON  "res/IcoRed.ico"


//---------------------------------------------------------------------------
// Menu
//---------------------------------------------------------------------------
IDM_POPUP_MAIN MENU
BEGIN
  POPUP "MainPopup"
  BEGIN
    MENUITEM SEPARATOR
    MENUITEM "Test &Alarm",  IDM_ALARM
    MENUITEM SEPARATOR
    MENUITEM "&Quit",        IDM_QUIT
  END
END


//---------------------------------------------------------------------------
// Font
//---------------------------------------------------------------------------
IDF_SMALL   FONTS  "res/Font04B24.ttf"
IDF_NORMAL  FONTS  "res/Font04B03.ttf"


//---------------------------------------------------------------------------
// Wave
//---------------------------------------------------------------------------
IDW_ALARM  WAVE  "res/WavAlarm.wav"
